* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding-top: 3rem;
  background-color: #d9ff91;
}
#secretNumber {
  background-color: #ff8a7f;
  color: white;
  width: 20vw;
  margin: auto;
  padding: 5px;
}

#topScore {
  padding-top: 3px;
}
div {
  display: flex;
  justify-content: center;
}

p {
  margin: 1rem 0;
}

button {
  padding: 5px;
  width: 15%;
}

input {
  padding: 5px;
}
